[data-simulator-background-root-node] {
  outline: 1px dashed cadetblue;
}

[data-simulator-background-root-node-rect] > * {
  outline: 1px dashed cadetblue;
}

.simulator-background {
  position: absolute;
  // space for scrollbar
  left: 10px;
  right: 10px;
  min-height: 90%;
  // space for root node outline
  padding: 4px;

  * {
    pointer-events: none;
  }
}
