@import "./vars.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  background-color: var(--pg-bg-color);
}

input {
  outline: none;
  @apply border rounded-tl-2 rounded-tr-8 rounded-br-8 rounded-bl-8;
  &:focus {
    box-shadow: 0px 0px 4px rgb(50 69 88 / 12%);
    border-color: var(--blue-600);
  }
}

.input {
  border-radius: 2px 8px 8px 8px !important;

  &.error, &.error:focus {
    border-color: var(--red-500) !important;
  }
}
