:root {
  /* toolbar */
  --pg-header-height: 44px;

  /* canvas */
  --pg-bg-color: #E6ECF9;

  /* panels */
  --pg-panel-bg-color: #fff;
  --pg-source-panel-wid: 56px;
  --pg-setting-panel-wid: 282px;

  /* misc */
  --pg-box-shadow: inset -1px 0px 0px #E2E8F0;
}
