.ofa-table-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  opacity: 0.999;

  .table-selector {
    min-width: 16px;
  }

  .ofa-table-middle {
    td {
      padding: 12px;
    }

    th {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  .ofa-table {
    max-height: 100%;
    overflow: auto;

    table {
      width: 100%;
      table-layout: fixed;
      text-align: left;
      color: var(--gray-900);
      font-size: 12px;
    }

    td {
      background-color: white;
    }

    th,
    td {
      word-break: break-all;
      vertical-align: middle;
      border-bottom: 1px solid var(--gray-200);
      transition: padding .3s;
    }

    th {
      position: sticky;
      // todo support group header
      background: #fff;
      padding-top: 8px;
      padding-bottom: 8px;
      top: 0;
      line-height: 20px;
      font-weight: 400;
      user-select: none;
      color: var(--gray-600);
      z-index: 2;
    }

    [data-sticky-td] {
      position: sticky;
    }

    [data-sticky-last-left-td] {
      box-shadow: 2px 0 3px var(--gray-200);
    }

    [data-sticky-first-right-td] {
      box-shadow: -2px 0 3px var(--gray-200);
    }

    tbody {
      tr {

        &:hover td {
          background-color: var(--blue-100);
        }

        td {
          &.table__cell-fixed {
            position: sticky;
          }
        }
      }
    }

    tbody>tr>.ofa-table-td {
      padding: 17px 16px;
      border-bottom: 1px solid;
      border-color: var(--gray-200);
      background-color: #fff;
    }
  }

  .ofa-table-empty {
    padding: 30px;
    text-align: center;

    img {
      display: inline-block;
      margin-bottom: 8px;
    }
  }

  .ofa-table-total-tips {
    font-size: 12px;
    line-height: 20px;
    color: var(--gray-600);
  }

  .ofa-table-tr {
    &:hover .ofa-table-td {
      background-color: var(--gray-100);
    }
  }
}

