.sourcePanel {
  width: var(--pg-source-panel-wid);
  background: var(--pg-panel-bg-color);
  box-shadow: var(--pg-box-shadow);

  .group {
    &:first-of-type {
      margin-top: 20px;
    }

    &.active, &:hover {
      p {
        color: var(--blue-600);
      }

      :global {
        svg {
          color: var(--blue-600);
          fill: var(--blue-400);
        }
      }
    }
  }
}
