.ds {
  .tabs {
    height: calc(100% - 60px);
    overflow: auto;
  }

  .tabCont {
    padding: 8px
  }

  .search {
    border: none;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid var(--gray-300);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

 input, textarea {
   outline: none;
   @apply border rounded-tl-2 rounded-tr-8 rounded-br-8 rounded-bl-8;
   &:focus {
     box-shadow: 0 0 4px rgb(50 69 88 / 12%);
     border-color: var(--blue-600);
   }
 }

 .input, .textarea {
   border-radius: 2px 8px 8px 8px !important;

   &.error, &.error:focus {
     border-color: var(--red-500) !important;
   }
 }

.varItem {
  background: #F8FAFC;
  border-radius: 4px;
  margin-top: 8px;

  &.expand {
    .varCont {
      display: flex;
    }
  }

  .varName {
    flex: 1;
    font-weight: 500;
    border-left: 2px solid var(--blue-600);

    >span {
      display: inline-flex;
      margin-left: 6px;
    }
  }

  .bar {
    &:hover {
      svg:not(:last-of-type) {
        visibility: visible;
      }
    }

    svg {
      margin-right: 6px;

      &:not(:last-of-type) {
        visibility: hidden;
      }
    }
  }

  .varCont {
    display: none;
    flex-direction: column;
  }

  //.apiVarCont {
  //  display: flex;
  //  flex-direction: column;
  //}
}

.editorModal {
  will-change: transform; // fix too many composite layers
  transition: all 0.3s ease-in-out;

  &.hide {
    transform: translateY(-9999px);
    opacity: 0;
  }
}
