.toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: var(--gray-50);
  box-shadow: 0px 8px 24px 4px rgba(148, 163, 184, 0.25);

  .brand {

  }

  .actions {
    .btnSave {
      margin-right: 16px;
    }
  }
}
