.btnAdd {
  border: 1px dashed #CBD5E1;
  border-radius: 2px 8px 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  &:hover {
    border: 1px dashed var(--blue-600);
    color: var(--blue-600);
  }
}

.modal {
  display: grid;
  grid-template-columns: 212px 1fr;
  height: 100%;

  .side {
    background: #F8FAFC;
    box-shadow: inset -1px 0px 0px #E2E8F0;
  }
  .body {

  }
}
