.category-title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.preview-wrap {
  display: grid;
  grid-template-columns: repeat(6, minmax(80px, 1fr));
  grid-gap: 10px;
  .svg-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      background: #ededed;
    }
    > svg {
      width: 48px;
      height: 48px;
    }
  }
}
