@import "../styles/vars.css";
//@import "../styles/border.css";

.designer {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  background-color: var(--pg-bg-color);
  height: 100vh;

  .body {
    position: relative;
    top: var(--pg-header-height);
    overflow: hidden;
    display: grid;
    width: 100%;
    height: calc(100vh - var(--pg-header-height));
    grid-template-columns: 56px 1fr 282px;
    grid-column-gap: 8px;

    &.pinned {
      grid-template-columns: 324px 1fr 282px;
    }
  }
}

.canvas {
  width: 100%;
  background: white;
  overflow: auto;
}

:global {
  .btn {
    font-size: 12px;
    font-weight: normal;
  }

  .pg-input {
    //@apply px-8 py-4 w-full border corner-2-8-8-8 border-gray-300;
    padding: 4px 8px;
    width: 100%;
    border: 1px solid var(--gray-300);
    border-radius: 2px 8px 8px;
  }

}

