.outline-entry {
  position: relative;
  padding-left: var(--spacing, 0);

  font-size: 14px;
  color: #222;
  background-color: white;
  border-radius: 4px;
}

.outline-entry--dragging {
  z-index: 1;
}

.outline-entry--selected:not(.outline-entry--dragging) {
  background-color: #DEE9FF;
}

// .outline-entry-content--isOver {
//   outline: 1px dashed hotpink;
// }

.outline-entry-content {
  position: relative;
  display: flex;
  align-items: center;
  height: 28px;

  .action-remove {
    display: none;
  }

  &:hover .action-remove {
    display: inline-block;
  }
}

.outline-entry-content--dragging {
  height: 4px;
  border-color: #2389ff;
  background-color: #56a1f8;

  &:before {
    position: absolute;
    // left: -8px;
    top: -4px;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #2389ff;
    background-color: #ffffff;
  }
}

.outline-entry__name {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  margin-right: 4px;
  padding: 1px 4px;
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  svg {
    fill: #868788;
  }
}

.collapse-icon--collapsed svg {
  transform: rotate(-90deg);
}

.dragging-entry-overlay {
  display: inline-block;
  max-width: 300px;
  font-size: 12px;
  padding: 2px;
  outline: 1px solid #e2e8f0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: white;
  border-radius: 4px;
}
