.tab-wrapper {
  @apply transition;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  position: relative;

  .tab-navs {
    width: 100%;
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 1px;
    box-shadow: inset 0px -1px 0px #E2E8F0;

    .tab-nav-item {
      text-align: center;
      white-space: nowrap;
      padding: 12px;
      color: var(--gray-600);
      &:hover {
        color: var(--blue-600);
      }

      &.disabled {
        cursor: not-allowed;
        &:hover {
          color: var(--gray-400);
        }
      }

      &::after {
        @apply transition;
        opacity: 0;
        content: "";
        height: 4px;
        width: 100%;
        display: block;
        background: #375ff3;
        border-radius: 4px 4px 0px 0px;
        position: absolute;
        left: 0;
        bottom: 0px;
      }

      &:not(.active):hover {
        &::after {
          opacity: 0.5;
        }
      }
    }

    .tab-nav__error {
      color: var(--red-600);
      &::after{
        background: var(--red-600);
      }
      &:hover {
        color: var(--red-600);
      }
    }

    .tab-nav__warning {
      color: var(--yellow-600);
      &::after{
        background: var(--yellow-600);
      }
      &:hover {
        color: var(--yellow-600);
      }
    }

    .active {
      font-weight: 600;
      &::after {
        opacity: 1;
      }
    }

    .stretch-navs {
      flex-grow: 1;
    }

    .tab-nav-item-separator:not(:last-child) {
      &::before {
        width: 1px;
        height: 64%;
        display: block;
        content: "";
        position: absolute;
        right: -1px;
        top: 50%;
        background-color: var(--gray-200);
        transform: translateY(-50%);
      }
    }
  }

  .tab-content {
    flex-grow: 1;
    padding: 16px 20px;
    overflow: auto;
  }
}
