html,
body {
  width: 100%;
  height: 100%;
}

/* Blocks */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
footer,
header,
aside,
section {
  margin: 0;
  padding: 0;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

/* List */
ul {
  list-style: none;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

::before,
::after {
  box-sizing: inherit;
}

/* Media */
img,
embed,
object,
audio,
video {
  max-width: 100%;
}
img {
  height: auto;
}

/* Iframe */
iframe {
  border: 0;
}

/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
  vertical-align: top;
}
