.outline-draggable-tree-view {
  font-size: 12px;
  .outline-draggable-tree-node {
    min-width: 160px;
    height: 32px;
  }
}

.outline-tree-node-indicator {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  pointer-events: none;
  border: 1px solid #2196f3;
}
