.eventPanel {

  .btnAddAction {

  }
}

.modal {
  display: grid;
  grid-template-columns: 180px 212px 1fr;
  height: 100%;

  .eventType {
    //background: #F8FAFC;
    box-shadow: inset -1px 0px 0px #E2E8F0;
    padding: 8px;
  }

  .side {
    background: #F8FAFC;
    box-shadow: inset -1px 0px 0px #E2E8F0;
  }
  .body {

  }
}
