.ofa-pagination {
  display: flex;
  list-style-type: none;
  gap: 8px;
  align-items: center;
}

.ofa-pagination-select-wrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.ofa-pagination-disabled {
  color: gray;
}

.ofa-pagination-current-page {
  color: blue;
}

.ofa-pagination-quick-jumper {
  display: flex;
  column-gap: 8px;
}

.ofa-pagination-quick-jumper-input {
  width: 50px;
}
