.section {
  margin-bottom: 8px;

  &.expand {
    .body {
      display: flex;
    }
  }

  .header {
    background: #F1F5F9;
    box-shadow: inset 0px -1px 0px #E2E8F0;

    > span {
      &::before {
        content: '';
        border-left: 2px solid var(--blue-600);
        margin-right: 4px;
      }
    }
  }

  .body {
    display: none;
    flex-direction: column;
    background-color: white;
    padding: 8px 12px;
  }
}
