.text-h3, .text-h4, .text-h5, .text-h6 {
  color: var(--gray-900);
  font-weight: 500;
}

.text-body1, .text-body2, .text-button, .text-caption {
  font-weight: 400;
}

.text-h3 {
  font-size: 24px;
  line-height: 32px;
}

.text-h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.text-h5 {
  font-size: 16px;
  line-height: 24px;
}

.text-h5-no-color {
  font-size: 16px;
  line-height: 24px;
}

.text-h6 {
  font-size: 14px;
  line-height: 22px;
}

.text-h6-no-color-weight {
  font-size: 14px;
  line-height: 22px;
}

.text-h6-bold {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.text-body1 {
  font-size: 16px;
  line-height: 24px;
}

.text-body2 {
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-900);
}

.text-body {
  font-size: 14px;
  line-height: 24px;
  color: var(--gray-900);
}

.text-body-no-color {
  font-size: 14px;
  line-height: 24px;
}

.text-body2-no-color {
  font-size: 14px;
  line-height: 22px;
}

.text-body2-no-color-weight {
  font-size: 14px;
  line-height: 22px;
}

.text-button {
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-600);
}

.text-caption,
.text-caption-no-weight {
  font-size: 12px;
  line-height: 20px;
  color: var(--gray-600);
}

.text-caption-no-color {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.text-caption-no-color-weight {
  font-size: 12px;
  line-height: 20px;
}

.text-underline-no-color {
  font-size: 14px;
  line-height: 22px;
  text-decoration: underline;
}

.text-underline {
  font-size: 14px;
  line-height: 22px;
  text-decoration: underline;
  color: var(--gray-600);
}

.text-h5-blod {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.text-toolbar {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-900);
  line-height: 20px;
}
