.modal {
  display: grid;
  grid-template-columns: 212px 1fr;
  height: 100%;

  .side {
    background: #F8FAFC;
    box-shadow: inset -1px 0px 0px #E2E8F0;
    > div.active {
      background-color: var(--gray-200);
    }
  }
  .body {
    padding-left: 8px;
    padding-right: 8px;
  }
}
