$arrow-color: var(--gray-700);

.qxp-tooltip-container {
  .qxp-ui-tooltip {
    border-radius: 8px;

    .qxp-ui-tooltip-label {
      color: #fff;
      padding: 8px 16px;
    }
  }

  [data-popper-arrow]::before {
    background-color: var(--gray-700);
  }
}

  .qxp-tooltip-container[data-popper-placement^='top'] .qxp-tooltip-arrow {
    bottom: -4px;
  }

  .qxp-tooltip-container[data-popper-placement^='bottom'] .qxp-tooltip-arrow {
    top: -4px;
  }

  .qxp-tooltip-container[data-popper-placement^='left'] .qxp-tooltip-arrow {
    right: -4px;
  }

  .qxp-tooltip-container[data-popper-placement^='right'] .qxp-tooltip-arrow {
    left: -4px;
  }
