html,
body {
  width: 100%;
  // required, we need body to be scrollable, incase other module style it
  height: auto;
}

* {
  box-sizing: border-box;
}

.artery-simulator-root--modal-open {
  height: 100vh;
  overflow: hidden;
}

.green-zone {
  position: absolute;
  will-change: width, height, transform;
}

.green-zone-for-node-without-children {
  top: 0;
  background-color: #0080005c;
  outline: 1px solid #008000;
}

.green-zone-between-nodes {
  outline: 1px dashed #008000;
}

.green-zone-between-nodes--focused {
  background-color: #0080005c;
}

// .contour-green-zone--left {
//   box-shadow: -8px 0 0 0px $indictorColor;
// }

// .contour-green-zone--right {
//   box-shadow: 8px 0 0 0px $indictorColor;
// }

// .contour-green-zone--inner-left {
//   box-shadow: inset 8px 0 0 0px coral;
// }

// .contour-green-zone--inner-right {
//   box-shadow: inset -8px 0 0 0px coral;
// }
