html, body {
  width: 100%;
  // required, override package style
  height: auto;
}

* {
  box-sizing: border-box;
}

.artery-simulator-root--modal-open {
  height: 100vh;
  overflow: hidden;
}

// TODO Support all position
// top
// right
// bottom
// left
// inner
// inner-top
// inner-right
// inner-bottom
// inner-left
// $indictorColor: green;

.green-zone {
  position: absolute;
  will-change: width, height, transform;
  border-radius: 2px;
}

.green-zone-for-node-without-children {
  top: 0;
  background-color: #0080005c;
  outline: 1px dashed #008000;
}

.green-zone-between-nodes {
  outline: 1px dashed #008000;
}

.green-zone-between-nodes--focused {
  background-color: #0080005c;
}

// .contour-green-zone--left {
//   box-shadow: -8px 0 0 0px $indictorColor;
// }

// .contour-green-zone--right {
//   box-shadow: 8px 0 0 0px $indictorColor;
// }

// .contour-green-zone--inner-left {
//   box-shadow: inset 8px 0 0 0px coral;
// }

// .contour-green-zone--inner-right {
//   box-shadow: inset -8px 0 0 0px coral;
// }

// .simulator-drag-image {
//   background-color: #0084ff;
//   width: 150px;
//   border-radius: 4px;
// }
