.panel {
  position: relative;
  width: var(--pg-setting-panel-wid);
  //height: 100%;
  background: var(--pg-panel-bg-color);
  box-shadow: var(--pg-box-shadow);

  .curElem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 4px;
    box-shadow: inset 0px -1px 0px #e2e8f0;
  }

  .tabs {
    height: calc(100vh - 60px);
    overflow: auto;
  }

  .tabCont {
    padding: 8px
  }
}
