.comps {
  font-size: 12px;
  line-height: 20px;

  .cate {
    margin-bottom: 12px;

    > .title {
      color: #94A3B8;
    }

    > .elems {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 4px;
    }
  }
}

.sourceElem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  height: 60px;
  border: 1px solid #E2E8F0;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  color: #475569;

  &:hover {
    border: 1px dashed var(--blue-600);
    background-color: var(--gray-100);
  }

  &.dragging {
    opacity: .5;
    cursor: move;
  }

}
